.list-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.8rem;
  margin: 0;
  padding: 0;
}

.list-payment__item {
  align-items: center;
  display: flex;
  height: 2.2rem;
  width: 3.6rem;
}
.list-payment__item svg {
  object-fit: cover;
}