.badge {
  padding: 0.2rem 0.6rem;
  display: inline-block;
  border-radius: var(--border-radius-badge);
  background: rgb(var(--color-badge-background));
  color: rgb(var(--color-badge-text));
  font-family: var(--font-button-family);
  font-weight: 500;
  font-style: var(--font-button-style);
  letter-spacing: var(--font-badge-letter-spacing);
  font-size: 1.2rem;
  line-height: 120%;
  text-transform: capitalize;
}
.badge--sale {
  color: rgb(var(--color-badge-text-sale));
}