.image-banner {
  background: unset;
}
.image-banner__container {
  position: relative;
  display: flex;
  height: 100%;
}
.image-banner__container.section-full-size {
  background: rgba(var(--color-background-secondary));
  width: 100%;
}
@media screen and (max-width: calc(990px - 1px)) {
  .image-banner__container {
    padding: 0;
  }
}
.image-banner__wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column-reverse;
}
.image-banner.overlay .image-banner__wrapper {
  gap: 4rem;
  padding: 4rem;
}
.image-banner.standard .image-banner__wrapper {
  padding: 0;
}
.image-banner__wrapper:not(.container) {
  min-width: 100%;
  position: relative;
}
@media screen and (min-width: 990px) {
  .image-banner__wrapper:not(.container) {
    border-radius: var(--border-radius-main);
    overflow: hidden;
  }
}
@media screen and (min-width: 990px) {
  .image-banner__wrapper {
    gap: 0 !important;
    padding: 0 !important;
  }
  .image-banner__wrapper--content-left {
    flex-direction: row;
  }
  .image-banner__wrapper--content-right {
    flex-direction: row-reverse;
  }
}
.image-banner__content {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
@media screen and (min-width: 990px) {
  .image-banner__content {
    width: 50%;
  }
  .image-banner__content--only-content {
    width: 100%;
  }
}
.image-banner__content--center {
  align-items: center;
  text-align: center;
}
.image-banner__content--left {
  align-items: flex-start;
  text-align: left;
}
.image-banner.standard .image-banner__content--left {
  justify-content: flex-end;
}
.image-banner.standard .image-banner__content {
  background: rgba(var(--color-background-secondary));
  padding: 3rem;
}
@media screen and (min-width: 990px) {
  .image-banner.standard .image-banner__content {
    padding: 4rem;
  }
}
@media screen and (min-width: 990px) {
  .image-banner.standard .section-full-size .image-banner__content {
    padding: 6rem 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .image-banner.standard .section-full-size .image-banner__content {
    padding: 6rem 6.4rem;
  }
}
.image-banner.overlay .image-banner__content {
  padding: 8.7rem 2rem;
  gap: 0.4rem;
}
@media screen and (min-width: 1200px) {
  .image-banner.overlay .image-banner__content {
    padding: 8.7rem 6.4rem;
  }
}
@media screen and (max-width: 989px) {
  .image-banner.overlay .image-banner__content {
    padding: 0 !important;
  }
}
.image-banner.overlay .image-banner__wrapper--content-left .image-banner__content:not(.image-banner__content--only-content) {
  padding-right: 0;
}
.image-banner.overlay .image-banner__wrapper--content-right .image-banner__content:not(.image-banner__content--only-content) {
  padding-left: 0;
}
.image-banner__subheading {
  margin: 0;
  max-width: 40rem;
}
.image-banner.standard .image-banner__content--left .image-banner__subheading {
  margin-bottom: auto;
}
.image-banner__heading {
  margin: 0;
  overflow-wrap: anywhere;
  max-width: 47.3rem;
}
.image-banner__text {
  max-width: 47.3rem;
  color: rgb(var(--color-foreground));
  font-size: calc(var(--font-body-scale) * 1rem);
  color: rgb(var(--color-foreground));
}
@media screen and (min-width: 1200px) {
  .image-banner__text {
    font-size: calc(var(--font-body-scale) * 1.2rem);
  }
}
.image-banner.standard .image-banner__text {
  color: rgb(var(--color-foreground-secondary));
}
.image-banner__text p {
  margin: 0;
  font-size: calc(var(--font-body-scale) * 1rem);
  color: rgb(var(--color-foreground));
}
@media screen and (min-width: 1200px) {
  .image-banner__text p {
    font-size: calc(var(--font-body-scale) * 1.2rem);
  }
}
.image-banner.standard .image-banner__text p {
  color: rgb(var(--color-foreground-secondary));
}
.image-banner__button {
  margin-top: 1.6rem;
}
.image-banner.overlay .image-banner__button {
  margin-top: 1.2rem;
}
.image-banner__promo {
  position: relative;
  display: flex;
  width: 100%;
}
@media screen and (min-width: 990px) {
  .image-banner__promo {
    width: 50%;
  }
  .image-banner.standard .section-full-size .image-banner__promo {
    position: static;
  }
}
.image-banner__promo-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 989px) {
  .image-banner__promo-content--left-mobile {
    justify-content: flex-start;
  }
  .image-banner__promo-content--center-mobile {
    justify-content: center;
  }
}
@media screen and (min-width: 990px) {
  .image-banner__promo-content--left {
    justify-content: flex-start;
  }
  .image-banner__promo-content--center {
    justify-content: center;
  }
  .image-banner__promo-content--right {
    justify-content: flex-end;
  }
}
.image-banner.overlay .image-banner__promo-content {
  padding: 0 2rem;
}
@media screen and (min-width: 1200px) {
  .image-banner.overlay .image-banner__promo-content {
    padding: 0 6.4rem;
  }
}
@media screen and (max-width: 989px) {
  .image-banner.overlay .image-banner__promo-content {
    padding: 0 !important;
  }
}
.image-banner.standard .image-banner__promo-content {
  padding: 3rem;
}
@media screen and (min-width: 990px) {
  .image-banner.standard .image-banner__promo-content {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 990px) {
  .image-banner.standard .section-full-size .image-banner__promo-content {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .image-banner.standard .section-full-size .image-banner__promo-content {
    padding: 0 6.4rem;
  }
}
.image-banner__percent {
  position: relative;
}
.image-banner__percent-wrapper {
  overflow: hidden;
  display: flex;
}
.image-banner__percent-wrapper--before-after::before {
  content: "";
  display: block;
  width: 1rem;
}
.image-banner__percent-wrapper--before-after::after {
  content: "";
  display: block;
  width: 1rem;
}
.image-banner__percent-value {
  line-height: 110%;
  font-weight: var(--font-heading-weight);
  font-family: var(--font-body-family);
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-align: center;
}
.image-banner__percent-value--small {
  font-size: 4.8rem;
}
@media screen and (min-width: 1200px) {
  .image-banner__percent-value--small {
    font-size: 6.4rem;
  }
}
@media screen and (min-width: 1360px) {
  .image-banner__percent-value--small {
    font-size: 8rem;
  }
}
.image-banner__percent-value--medium {
  font-size: 5.6rem;
}
@media screen and (min-width: 1200px) {
  .image-banner__percent-value--medium {
    font-size: 8rem;
  }
}
@media screen and (min-width: 1360px) {
  .image-banner__percent-value--medium {
    font-size: 12rem;
  }
}
.image-banner__percent-value--large {
  font-size: 10rem;
}
@media screen and (min-width: 576px) {
  .image-banner__percent-value--large {
    font-size: 12rem;
  }
}
@media screen and (min-width: 1360px) {
  .image-banner__percent-value--large {
    font-size: 16rem;
  }
}
.image-banner__percent-value .odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.image-banner__percent-value .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  overflow: unset;
}
.image-banner__percent-value .odometer.odometer-auto-theme,
.image-banner__percent-value .odometer.odometer-theme-default {
  font-family: var(--font-body-family) !important;
}
.image-banner__percent-value .odometer-digit {
  margin-left: -1.3rem;
}
.image-banner__percent-value .odometer-inside span {
  font-weight: var(--font-heading-weight);
  font-family: var(--font-body-family);
  line-height: 110%;
}
.image-banner__percent-value .js-num .odometer-value {
  text-align: center;
}
.image-banner__percent-value .js-num .odometer-value.odometer-first-value, .image-banner__percent-value .js-num .odometer-value.odometer-last-value {
  width: 100%;
}
.image-banner__badge {
  flex-shrink: 0;
}
.image-banner__badge span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  top: -1rem;
  right: 0;
  background-color: rgba(var(--color-button));
  text-align: center;
  overflow-wrap: anywhere;
  color: rgb(var(--color-button-text));
  line-height: 110%;
}
@media screen and (min-width: 990px) {
  .image-banner__badge span {
    top: -1.4rem;
  }
}
.image-banner__badge--small {
  margin-left: -2.5rem;
  max-width: 5rem;
  max-height: 5rem;
  width: 5rem;
  height: 5rem;
}
@media screen and (min-width: 1200px) {
  .image-banner__badge--small {
    margin-left: -3rem;
    max-width: 6rem;
    max-height: 6rem;
    width: 6rem;
    height: 6rem;
  }
}
.image-banner__badge--small span {
  padding: 0.8rem;
  max-width: 5rem;
  max-height: 5rem;
  width: 5rem;
  height: 5rem;
  font-size: calc(var(--font-body-scale) * 1rem - 0.5rem);
}
@media screen and (min-width: 1200px) {
  .image-banner__badge--small span {
    padding: 0.8rem;
    max-width: 6rem;
    max-height: 6rem;
    width: 6rem;
    height: 6rem;
    font-size: calc(var(--font-body-scale) * 1rem - 0.4rem);
  }
}
.image-banner__badge--medium {
  margin-left: -3rem;
  max-width: 6rem;
  max-height: 6rem;
  width: 6rem;
  height: 6rem;
}
@media screen and (min-width: 1200px) {
  .image-banner__badge--medium {
    margin-left: -4rem;
    max-width: 8rem;
    max-height: 8rem;
    width: 8rem;
    height: 8rem;
  }
}
.image-banner__badge--medium span {
  padding: 0.8rem;
  max-width: 6rem;
  max-height: 6rem;
  width: 6rem;
  height: 6rem;
  font-size: calc(var(--font-body-scale) * 1rem - 0.4rem);
}
@media screen and (min-width: 1200px) {
  .image-banner__badge--medium span {
    padding: 1rem;
    max-width: 8rem;
    max-height: 8rem;
    width: 8rem;
    height: 8rem;
    font-size: calc(var(--font-body-scale) * 1rem);
  }
}
.image-banner__badge--large {
  margin-left: -3.2rem;
  max-width: 8rem;
  max-height: 8rem;
  width: 8rem;
  height: 8rem;
}
@media screen and (min-width: 576px) {
  .image-banner__badge--large {
    margin-left: -5.1rem;
    max-width: 10.2rem;
    max-height: 10.2rem;
    width: 10.2rem;
    height: 10.2rem;
  }
}
.image-banner__badge--large span {
  padding: 1rem;
  max-width: 8rem;
  max-height: 8rem;
  width: 8rem;
  height: 8rem;
  font-size: calc(var(--font-body-scale) * 1rem - 0.2rem);
}
@media screen and (min-width: 576px) {
  .image-banner__badge--large span {
    padding: 1.6rem;
    max-width: 10.2rem;
    max-height: 10.2rem;
    width: 10.2rem;
    height: 10.2rem;
    font-size: calc(var(--font-body-scale) * 1.3333333333rem);
  }
}
.image-banner__media {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.image-banner__media.placeholder {
  background-color: rgba(var(--color-background));
}
.color-background-1 .image-banner__media.placeholder {
  background-color: rgba(var(--color-background-secondary));
}
.image-banner.standard .image-banner__media.placeholder {
  background-color: rgba(var(--color-background), 0.94);
}
.image-banner.standard.color-background-1 .image-banner__media.placeholder {
  background-color: rgba(var(--color-background-secondary), 0.94);
}
@media screen and (min-width: 990px) {
  .image-banner.standard .section-full-size .image-banner__wrapper--content-left .image-banner__media {
    width: 50%;
    left: 50%;
  }
  .image-banner.standard .section-full-size .image-banner__wrapper--content-right .image-banner__media {
    width: 50%;
    right: 50%;
  }
}
.image-banner__media svg,
.image-banner__media img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}
.image-banner__overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgb(var(--color-overlay));
  transition: opacity var(--duration-default);
}
@media screen and (min-width: 990px) {
  .image-banner.standard .section-full-size .image-banner__wrapper--content-left .image-banner__overlay {
    width: 50%;
    left: 50%;
  }
  .image-banner.standard .section-full-size .image-banner__wrapper--content-right .image-banner__overlay {
    width: 50%;
    right: 50%;
  }
}